<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
  
　　<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
	<div class="text-center p-4">
		
		
		<table class="table table-bordered table-hover">
		
				<tr>
					<th>ID</th>
					<th>名前</th>
					<th>メールアドレス</th>
					<th>問い合わせ内容</th>
				</tr>
			
				<tr th:each="inquiry:${inquiryList}" th:object="${inquiry}">
					<td>
						<a th:href="@{/{id}(id =*{id})}" th:text="*{id}">
							 ID
						</a>
         
					</td>
					<td th:text="*{name}"></td>
					<td th:text="*{email}"></td>
					<td th:text="*{text}"></td>
				</tr>
			
		</table>
		<a th:href="@{/form}">新規問い合わせ</a>
	</div>
	
	
  
<!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
